* {
    font-family: "Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

h1 {
    font-weight: normal;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 1.5em;
}

table {
    border-collapse: collapse;
    width: 100%;
  }

td {
    border-bottom: 1px solid #ddd;
}

th, td {
    padding: 1em;
}

th {
    background-color: #303030;
    color: white;
}

img {
    width: 80%;
    margin-left: 10%;
}