/* List Styling */
.listContainer{
    display: flex;
    justify-content: center;
    border: 1px solid red;
    padding: 1em;
}

.list{
    width: 50%;
}

.listRowContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.25em;
}
.listRow{
    display: flex;
    align-items: stretch;
    max-width: 90%;
    margin: 1em;
    font-size: inherit;
}

.listNumber input{
    height: calc(100% - 1em);
    width: 2.5em;
    padding: 0.5em;
    text-align: center;
    font-size: inherit;
    border: none;
}

.listEntry{
    display: flex;
    margin: 0 1em;
    flex-grow: 1;
    background-color: white;
    padding: 1em;
    align-items: center;
}

.transferButton{
    display: flex;
    align-items: center;
    color: #ffffffA9;
}

.transferButton:hover{
    color: #ffffff;
    cursor: pointer;
}

.addRowButton{
    color: #ffffffA9;
    padding: 0.5em;
    text-align: right;
}

.addRowButton:hover{
    color: #ffffff;
    cursor: pointer;
}


/* TitleBar Styling */
.titleBar{
    text-align: center;
    padding: 1em;
    background-color: #00000060;
    color: white;
  }