/* List Styling */
.listContainer{
    display: flex;
    justify-content: center;
    border: 1px solid red;
    padding: 1em;
}

.list{
    width: 50%;
}

.listRowContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.25em;
}
.listRow{
    display: flex;
    align-items: stretch;
    max-width: 90%;
    margin: 1em;
    font-size: inherit;
}

.listNumber input{
    height: calc(100% - 1em);
    width: 2.5em;
    padding: 0.5em;
    text-align: center;
    font-size: inherit;
    border: none;
}

.listEntry{
    display: flex;
    margin: 0 1em;
    flex-grow: 1;
    background-color: white;
    padding: 1em;
    align-items: center;
}

.transferButton{
    display: flex;
    align-items: center;
    color: #ffffffA9;
}

.transferButton:hover{
    color: #ffffff;
    cursor: pointer;
}

.addRowButton{
    color: #ffffffA9;
    padding: 0.5em;
    text-align: right;
}

.addRowButton:hover{
    color: #ffffff;
    cursor: pointer;
}


/* TitleBar Styling */
.titleBar{
    text-align: center;
    padding: 1em;
    background-color: #00000060;
    color: white;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
  }



/* Popup Styling */
.popupBlur {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(3px);
    background-color: #00000040;
}

.popupContainer {
   height: 100vh;
   width: 100vw;
   margin: 0;
   padding: 0;
   position: fixed;
   top: 0;
   left: 0;
   display: flex;
   align-items: center;
   justify-content: center;
}

.popup {
    background-color: white;
    padding: 1em;
    max-width: 800px;
    box-shadow: 0 0 10px 0px #00000080;
}

.popup h1 {
    text-align: center;
    font-weight: 400;
}

.popupContent {
    display: flex;
    justify-content: center;
    margin: 2em 0;
}

.popup .buttonPanel {
    display: flex;
    justify-content: center;
}

.popup .buttonPanel button {
    min-width: 10em;
    margin: 0.25em;
    padding: 0.5em;
    font-size: 1.5em;
    border: none;
    color: white;
    cursor: pointer;
}

.popup .buttonPanel button.yes {
   background-color: #5DAD89; 
}

.popup .buttonPanel button.yes:hover {
    background-color: #25AA6E;
 }

.popup .buttonPanel button.no {
    background-color: #DA7676; 
 }

 .popup .buttonPanel button.no:hover {
    background-color: #D85656;
 }
